.chatHeader {
    display: flex;
    color: gray;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.chatHeader__hash {
    color: gray;
    font-size: 30px;
    padding: 10px;
}
.chatHeader__left>h3 {
    display: flex;
    align-items: center;
    font-size: x-large;
    color: white;
}
.chatHeader__right {
    padding-right: 20px;
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logout__button{
    padding: 8px;
    border-bottom: 3px solid #26282c;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    color: rgb(179, 176, 176);
    background-color: #2b2e32;
    cursor: pointer;
    
}
