.chat1 {
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
    display: flex;
}

.chat__messages{
    flex: 1;
    overflow-y: auto;
}

.d-block{
    display: block;
}
.d-hidden{
    display: none;
}
.emojiPickerContainer {
    position: fixed; 
    bottom: 104px;   
    right: 0;       
}
.chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    border-top: 1px solid gray;
    background-color: #474b53;
}
.chat__input>form>input {
    padding: 15px;
    background: transparent;
    width: 100%;
    border: none;
    outline-width: 0;
    color: white;
    font-size: large;
    outline: none;
}

.chat__input>form {
    flex: 1;
    display: flex;
}
.chat__inputButton {
    background-color: #474b53;
    border: none;
    padding-right: 13px;
    padding-bottom: 3px;
}
.chat__selectChannelMessage {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: rgba(183, 186, 189, 0.329);
    margin-top: 255px;

}


.chat__inputIcons {
    padding: 5px;
    padding-right: 25px;
}
